@import "abstracts/colors";
@import "abstracts/variables";

p {
  margin: 0;
}

.create {
  color: $color-primary;
  border: none;
  font-size: 30px;
  background: none;
}

.tasks-container {
  margin-top: 25px;
}

.task {
  margin-top: 5px;
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 70px;
  border-radius: 10px;
  padding: 0 10px;
  border: 2px solid $color-primary;
  align-items: center;

  &-row {
    font-weight: bolder;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 3px;
    cursor: pointer;
  }

  &__title {
    margin: 0 15px;
    width: 50%;
  }

  &__status {
    color: $color-success;
    margin-top: 0;
    margin-left: 5px;
    font-weight: bold;
  }

  input {
    margin-top: 0;
  }

  &__completed {
    font-size: 12px;
    margin-right: 15px;
  }

  i {
    font-size: 15px;
    color: $color-primary;
    cursor: pointer;
  }
}

.form-check-input {
  width: 15px;
  height: 15px;
  margin-left: 10px;
  cursor: pointer;
}

.form-check-label {
  margin-left: 10px;
}

.calendar-link {
  font-size: 30px;
}
