:host {
  display: block;
  height: 100px;
  background-color: #3d8af7;
  padding: 10px;
}

.calendar-task {
  color: white;

  &__status-icon {
    font-size: 15px;
    line-height: 1;
  }

  &__header {
    display: flex;
    justify-content: space-between;

    h3 {
      margin: 0;
      padding: 0;
      font-size: 25px;
      line-height: 1;
      text-align: left;
    }
  }

  &__title {
    color: white;
    font-size: 10px;
    text-align: left;
  }
}
