.modal-body {

  &__time-start {
    display: flex;
    align-items: center;
    gap: 10px;

    &.ng-invalid  {
      border:solid red 2px;
    }
  }

  &__time-end {
    display: flex;
    align-items: center;
    gap: 15px;
  }
}

input.ng-invalid {
  border:solid red 2px;
}
